.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0 4px 2px #ddd;
}
.form__title,
.info {
  text-align: center;
  flex-basis: 100%;
}
.form__label {
  margin: 0.3rem 0.3em;
}
.form__input {
  margin: 0 0.5em;
  padding: 0.3rem;
  color: #333;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px #333;
}
.error {
  color: red;
  flex-basis: 100%;
}
.form button {
  color: #333;
}
